profiles/old_12_ERRORS ALL AROUND/
MNIST/*
__pycache__/*
__pycache__
.DS_Store
.remote-sync.json
person1/10x_pbmc_68k.tar.gz
person1/fresh_68k_pbmc_donor_a_filtered_gene_bc_matrices/*
person1/Curate_10x_PBMC68k.ipynb
person1/.ipynb_checkpoints/
hoc_data/
tree-3630.dist
manual_MNIST_subsets
.ipynb_checkpoints/
elki_commands.txt
elki_sbatch.sh
csh_pam.py
figure_these_refs_out/*
figures_backup/*
NeurIPS 2020 Submission/*
ELKI/MiniGUI-saved-settings.txt
ELKI/mouse.txt
profiles/old_profiles_do_not_use/*
profiles/profiles/*
naive_pam_v2.py
sbatch_exp.sh
memoization_test.py
auto_exp_config.py
scratch_exp_config.py
naive_pam_v0.py
