profiles/old_12_ERRORS ALL AROUND/
MNIST/*
__pycache__/*
__pycache__
.DS_Store
.remote-sync.json
person1/10x_pbmc_68k.tar.gz
person1/fresh_68k_pbmc_donor_a_filtered_gene_bc_matrices/*
person1/Curate_10x_PBMC68k.ipynb
person1/.ipynb_checkpoints/
hoc_data/
tree-3630.dist
manual_MNIST_subsets
.ipynb_checkpoints/
