profiles/old_12_ERRORS ALL AROUND/
MNIST/*
__pycache__/*
__pycache__
.DS_Store
.remote-sync.json
martin/10x_pbmc_68k.tar.gz
martin/fresh_68k_pbmc_donor_a_filtered_gene_bc_matrices/*
martin/Curate_10x_PBMC68k.ipynb
martin/.ipynb_checkpoints/
hoc_data/
